
<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container-fluid">

    <!--toggler button-->
    <button class="navbar-toggler"
            type="button"

            (click)="toggleNavbar()"
            [attr.aria-expanded]="isNavbarOpen"
            aria-controls="navbarSupportedContent"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.show]="isNavbarOpen"
         id="navbarSupportedContent">

      <ul class="navbar-nav me-auto  mb-lg-0">
        <li>
          <img src="assets/images/lubiv.png"
               alt="Logo Option 1"
               class="navbar-logo"
               style="margin-right: 10px;">

        </li>

        <li class="nav-item">
          <a class="nav-link custom-rounded"
             (click)="isNavbarOpen = false"
             routerLink="/Dashboard"
             routerLinkActive="active"
             aria-current="page" >Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-rounded"
             (click)="isNavbarOpen = false"
             routerLink="/Employee"
             routerLinkActive="active">Employee</a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-rounded"
             (click)="isNavbarOpen = false"
             routerLink="/Inventory"
             routerLinkActive="active">Inventory</a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-rounded"
             (click)="isNavbarOpen = false"
             routerLink="/Supplier"
             routerLinkActive="active">Suppliers</a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
