
<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto  mb-lg-0">
        <li>
          <img src="lubiv.png" alt="Logo" class="navbar-logo">
        </li>
        <li class="nav-item">
          <a class="nav-link custom-rounded" routerLink="/Dashboard" routerLinkActive="active" aria-current="page" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-rounded" routerLink="/Employee" routerLinkActive="active">Employee</a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-rounded" routerLink="/Inventory" routerLinkActive="active">Inventory</a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-rounded" routerLink="/Supplier" routerLinkActive="active">Suppliers</a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
