.btn{
  background-color: var(--primera);
  color: white;
  box-shadow: 5px 5px  black;
  transition: transform 200ms,box-shadow 200ms;
  border-radius: 12px;
  width:100px;
  border:none;


}
.btn:active{
  transform: translateY(4px) translateX(4px);
  background-color: var(--primera);
  color: white;
  box-shadow: none;
  border:none;

}

.card-body{
  background-color:var(--backg);
  box-shadow: 5px 5px  var(--primera);

  ;

}
.table{
  background-color: var(--backg);


}
.table thead th, .table tbody td {
  background-color:var(--backg);

}
.container-fluid{
  background-color:var(--backg);
  padding: 30px;


}

