<!-- sidebar.component.html -->
<div class="sidebar">
  <button (click)="toggleSidebar()" class="toggle-btn">
    <i class="bi bi-list"></i>
  </button>

  <ul class="nav-links">
    <li>
      <i class="bi bi-train-freight-front-fill"></i>
      <span class="link-label">Train</span>
    </li>
    <li>
      <i class="bi bi-truck"></i>
      <span class="link-label">Truck</span>
    </li>
    <li>
      <i class="bi bi-airplane-engines-fill"></i>
      <span class="link-label">Aircraft</span>
    </li>
    <li>
      <i class="bi bi-tux"></i>
      <span class="link-label">Tux</span>
    </li>
  </ul>
</div>
