<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form class="row g-3 needs-validation" novalidate (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Name Surname</label>
          <input type="text" [(ngModel)]="employee.name" name="name" id="validationCustom01" required class="form-control">
          <div class="invalid-feedback">
            please fill!
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">Position</label>
          <select [(ngModel)]="employee.position" name="position" id="validationCustom02" required class="form-select">
            <option value="" disabled selected>Choose position...</option>
            <option value="Manager">Manager</option>
            <option value="Warehouseman">Warehouseman</option>
            <option value="Certified Forklifter">Certified Forklifter</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid position.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Salary</label>
          <input type="number" [(ngModel)]="employee.salary" name="salary" id="validationCustom03" required class="form-control">
          <div class="invalid-feedback">
            Please enter salary.
          </div>
        </div>

        <div class="col-12 d-flex justify-content-end gap-2">
          <button type="button" class="btn " (click)="onCancelClick()">
            Cancel
          </button>
          <button class="btn " type="submit">
            {{isEditMode ? 'Update' : 'Hire'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
