.card-img-top-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center;     /* Center image vertically */
  padding: 10px;
  background-color: #f9f9f9;
}
.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  object-position: center;

}

.card-body{
  text-align: center;
  padding: 25px;

}

.card{
  border-radius: 10px;
  border-top: var(--sarı) solid 5px;
  transition:transform 0.2s ease-in-out;
  background-color: var(--backg);
}
.card:hover {
  transform: translateY(-5px); /*lift cards up*/
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.container-fluid{
  background-color:var(--backg);
  padding: 30px;
}

.btn{
  background-color: var(--primera);
  color: white;
  box-shadow: 5px 5px  black;
  transition: transform 200ms,box-shadow 200ms;
  border-radius: 12px;
  width:150px;
  border:none;

}
.btn:active{
  transform: translateY(4px) translateX(4px);
  background-color: var(--primera);
  color: white;
  box-shadow: none;
  border:none;

}
