<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container-fluid">

    <!--toggler button-->
    <button class="navbar-toggler"
            type="button"

            (click)="toggleNavbar()"
            [attr.aria-expanded]="isNavbarOpen"
            aria-controls="navbarSupportedContent"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.show]="isNavbarOpen"
         id="navbarSupportedContent">

      <ul class="navbar-nav me-auto  mb-lg-0">
        <li class="bi-cake me-3"></li>

        <li class="nav-item">
          <a class="nav-link custom-rounded "
             routerLink="/clientDashboard"
             routerLinkActive="active"
             (click)="isNavbarOpen = false"
             aria-current="page">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-rounded"
             routerLink="/clientViewProducts"
             (click)="isNavbarOpen = false"
             routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-rounded"
             routerLink="/clientProfile"
             (click)="isNavbarOpen = false"
             routerLinkActive="active">Profile</a>
        </li>
      </ul>

    </div>


    <button class="btn logout-button ms-auto" (click)="handleClientLogout()">
      <i class="bi-box-arrow-right"> Logout</i>
    </button>
  </div>
</nav>

