<div class="container-fluid">
  <div class="row g-4">
    <div class="col-3">
      <div class="card  p-5 mt-5 ms-3 ">

        <div class="card-img-top-container">
          <img src="lubiv.png"
               class="card-img-top"
               alt="Profile silhouette">
        </div>
        <div class="card-body">
          <h2>Welcome, {{ currentUser?.username }}!</h2>
          <p><strong>Email:</strong> {{ currentUser?.email }}</p>
          <p><strong>Role:</strong> {{ currentUser?.role }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-sm mx-auto"><i class="bi-pencil-fill"></i>Edit</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      @if (purchaseLog.length > 0) {
        @for (purchase of purchaseLog; track purchase.id) {
          <div class="card">
            <div class="card-body">
              <div class="text-start text-md-end">
                <p class="card-text">Purchase no : {{ purchase.id }}</p>
                <p class="card-text">{{ purchase.date }} </p>
                <p class="card-text">{{ purchase.totalAmount }}</p>
              </div>
            </div>
          </div>
        }
      } @else {
        <div class="d-flex justify-content-center align-items-center vh-100 bg-light m-5">
          <div class="text-center">
            <p class="text-muted mb-0 fs-3">
              <i class="bi bi-inbox me-2 fs-1"></i>
              <br>
              No purchases made yet
            </p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
